# coding: utf-8

"""
DefaultApi.py
Copyright 2016 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class DefaultApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def snip_post(self, **kwargs):
        """
        Creates a code snippet.
        Creates a code snippet in the specified language.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.snip_post(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param CodeSnippet code_snippet_body: Code snippet object.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['code_snippet_body']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method snip_post" % key
                )
            params[key] = val
        del params['kwargs']


        resource_path = '/snip'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'code_snippet_body' in params:
            body_params = params['code_snippet_body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def snip_code_snippet_uuid_get(self, code_snippet_uuid, **kwargs):
        """
        Retrieves the specified code snippet.
        Retrieves the specified code snippet.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.snip_code_snippet_uuid_get(code_snippet_uuid, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str code_snippet_uuid: Code snippet unique identifier. (required)
        :return: CodeSnippet
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['code_snippet_uuid']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method snip_code_snippet_uuid_get" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'code_snippet_uuid' is set
        if ('code_snippet_uuid' not in params) or (params['code_snippet_uuid'] is None):
            raise ValueError("Missing the required parameter `code_snippet_uuid` when calling `snip_code_snippet_uuid_get`")

        resource_path = '/snip/{code_snippet_uuid}'.replace('{format}', 'json')
        path_params = {}
        if 'code_snippet_uuid' in params:
            path_params['code_snippet_uuid'] = params['code_snippet_uuid']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='CodeSnippet',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def snip_code_snippet_uuid_put(self, code_snippet_uuid, **kwargs):
        """
        Updates a code snippet.
        Updates a code snippet changes.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.snip_code_snippet_uuid_put(code_snippet_uuid, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str code_snippet_uuid: Code snippet unique identifier. (required)
        :param CodeSnippet code_snippet_body: Code snippet object.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['code_snippet_uuid', 'code_snippet_body']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method snip_code_snippet_uuid_put" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'code_snippet_uuid' is set
        if ('code_snippet_uuid' not in params) or (params['code_snippet_uuid'] is None):
            raise ValueError("Missing the required parameter `code_snippet_uuid` when calling `snip_code_snippet_uuid_put`")

        resource_path = '/snip/{code_snippet_uuid}'.replace('{format}', 'json')
        path_params = {}
        if 'code_snippet_uuid' in params:
            path_params['code_snippet_uuid'] = params['code_snippet_uuid']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'code_snippet_body' in params:
            body_params = params['code_snippet_body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def snip_code_snippet_uuid_delete(self, code_snippet_uuid, **kwargs):
        """
        Deletes the specified code snippet.
        Deletes the specified code snippet.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.snip_code_snippet_uuid_delete(code_snippet_uuid, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str code_snippet_uuid: Code snippet unique identifier. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['code_snippet_uuid']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method snip_code_snippet_uuid_delete" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'code_snippet_uuid' is set
        if ('code_snippet_uuid' not in params) or (params['code_snippet_uuid'] is None):
            raise ValueError("Missing the required parameter `code_snippet_uuid` when calling `snip_code_snippet_uuid_delete`")

        resource_path = '/snip/{code_snippet_uuid}'.replace('{format}', 'json')
        path_params = {}
        if 'code_snippet_uuid' in params:
            path_params['code_snippet_uuid'] = params['code_snippet_uuid']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def snips_get(self, **kwargs):
        """
        Retrieves all code snippets.
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.snips_get(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :return: CodeSnippetList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method snips_get" % key
                )
            params[key] = val
        del params['kwargs']


        resource_path = '/snips'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='CodeSnippetList',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
